
$primary: #FE6D73;
$secondary: #227C9D;
$success: #17C3B2;
$info: #FFCB77;
$light: #FEF9EF;
$body-bg: #FEF9EF;
$body-color: #227C9D;
$font-family-sans-serif: 'Quicksand', sans-serif;;
$font-family-monospace: 'Quicksand', sans-serif;;
$font-family-base: 'Quicksand', sans-serif;;