@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
.btn{
    border-width: 2px;
    box-shadow: 0 0.6em 2em rgba(8, 8, 8, 0.2);
}
#fireworks{
    margin:0;
    position:absolute;
    z-index: 100;
    overflow: hidden;
    height:100vh;
    max-width:100vw;
}
#canvas{
    overflow:hidden;
    margin: 0;
    background-color: transparent;
}
#bg{
    position:absolute;
    z-index: -100;
    overflow: hidden;
    max-height:100vh;
    max-width:100vw;
}
#bg img{
    position:relative;
    opacity: 10%;
    height:130vh;
}
#options_button{
    border-radius: 60px;
    height:200px;
    width:200px;
}
@media screen and (min-width:768px) 
{
    h1{
        font-size: 3rem;
    }
    #sections-titles{
        font-size: 6rem;   
    }
}
canvas {
	display: block;
    position:absolute;
    z-index: 100;
    overflow: hidden;
    height:100vh;
    max-width:100vw;
}

